<h1> <%=@user.first_name%> <%=@user.last_name%> </h1>

<p><strong>Ville :</strong> <a href="<%=city_path(@user.city.id)%>"> <%=@user.city.name%> </a> </p>

<p><strong>Age :</strong> <%=@user.age%> ans</p>

<p><strong>Description:</strong> <%=@user.description%> </p>

<p><strong>Email :</strong> <%=@user.email%> </p>

<p><strong>Ses gossips :</strong> </p>


<%@user.gossips.each do |gossip|%>
<p><%=gossip.title%></br><em>"<%=gossip.content%>"</em></br></p>
<%end%>

<%= link_to 'Retour à goosip\'s lande', gossips_path %>