<h1>Editing Gossip</h1>

<form action= "/gossips/<%=@gossip.id%>" method="PATCH">
     <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
   
   
        
    <div class="col">
        <label for="exampleInputEmail1">Titre</label>
        <input type="text" class="form-control" placeholder="<%=@gossip.title%>" name="title">
    </div> 

    

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Contenu</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="<%=@gossip.content%>" name="content"></textarea>
    </div>      

    
    <input type="submit" value="Modifier">
</form>

<%= link_to 'Show', @gossip %> |
<%= link_to 'Back', gossips_path %>
