<h2> <%=@gossip.title%> </h2>
<p> <em>"<%=@gossip.content%>" </em> </p>
<%autor = @gossip.user.first_name + " " + @gossip.user.last_name%>
<p> <strong>L'auteur :</strong> <%= link_to autor, user_path(@gossip.user.id) %></p>


<p><%= link_to 'Editer le potin', edit_gossip_path(@gossip) %> |
<%= link_to 'Detruire le potin', @gossip, method: :delete, data: { confirm: 'Etes vous sûr?' } %></br>


<p></br><strong>Les commentaires:</strong></p>
<%@gossip.comments.each do |comment|%>
<p> </br><em>"<%=comment.content%>" </em> </p>
<p>De <a href="<%=user_path(comment.user.id)%>"> <%=comment.user.first_name%> <%=comment.user.last_name%></a></p>

<%end%>

<form action= "/gossips/<%=@gossip.id%>/comments"<%=@gossip.id%>" method="POST">
     <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
           
    

    <div class="form-group">        
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  name="content"></textarea>
    </div>      
    
    <input type="submit" value="Laisser un commentaire">
</form>

</br>|<%= link_to 'Retour', gossips_path %>|</p>